body {
    background-image: url('../img/bg.png');
    background-size: 30%;
}

.header-block {
    background-image: url('../img/head.png');
    height: 80px;
    color: #ffffff;
}

.user-block {
    padding: 10px;
}

.user-block div div{
    display: inline-block;
}

.center-block {
    width: 100%;
    height: 300px;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.center-content{
    text-align: center;
}

.full-width-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.avatar {
    border-radius: 20px;
    float: left;
    margin-right: 10px;
}

.user-name {
    font-size: 20px;
}

.sys-panel {
    text-align: right;
}

.sys-panel a {
    margin-left: 15px;
}

.red-text {
    color: #FF4136;
}